---
import opinions from "../../constants/opinions";
import TextOpinion from "./TextOpinion.astro";
import VideoOpinion from "./VideoOpinion.astro";
---

<div class="flex gap-4 mt-20 w-full p-6">
  {
    opinions.map((opinion) => {
      if (opinion.type === "text") {
        return (
          <TextOpinion
            image={opinion.image}
            author={opinion.author}
            company={opinion.company}
            content={opinion.content}
          />
        );
      } else if (opinion.type === "video") {
        return <VideoOpinion videoURL={opinion.videoURL} />;
      }
    })
  }
</div>

<style>
  div {
    overflow-x: auto;
    overflow-y: visible;
  }
</style>
